# App
APP_NAME=Task API
DEBUG=True

# Database
DATABASE_URL=postgresql+psycopg2://postgres:TU_PASSWORD@localhost:5432/taskapi

# JWT (generar uno propio: python -c "import secrets; print(secrets.token_urlsafe(32))")
JWT_SECRET_KEY=changeme_in_real_env
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=60